nav{
    
    color: white;
    width: 1300px;
    height: 600px;
    text-align: center;
    background-image: url('../images/Banner\ Image.png');
    background-size: cover;
    padding-left: 200px;
    margin-left: 120px;
}
.nav-header{
    text-align: center;
    font-size: 60px;
    
    
}
.new{
    font-size: 120px;
    padding: -200px;
    text-align: center;
}
/* main style */

.title-ff{
    color:rgb(245, 25, 25) ;
    text-align: center;
    font-family: 'inter',sans-serif;
    font-size: 132px;
    font-weight: 800;
    padding-top: 120px;
    padding-bottom: 0px;
}
.title-container{
    color:#F00 ;
    text-align:center;
    font-family: 'inter',sans-serif ;
    font-size: 30px;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 0px;
}
.title-discription{
    color:#070211 ;
    text-align: center;
    font-family: 'inter',sans-serif ;
    font-size: 45px;
    font-weight: 700;
    padding-top: 10px;
    
}
.title-img{
    display:flex ;
    margin-top: 48px;
    margin-left: 270px;
}
/* welcome banner style */
.banner-style{
    margin: 120px;
    background-image: linear-gradient(to right,rgba(7,2,17,0.9),rgba(7,2,17,0.5)),url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    display: flex;
}
.banner-title{
    color: #FFF;
    font-size: 65PX;
    padding-top: 125px;
    padding-left: 125px ;
    padding-bottom: 0px;
    
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
}
.banner-text{
   color: rgba(255,255,255,0.80);
   padding-top: 24px;
   padding-left: 125px;
   padding-bottom: 0px;
   font-family: 'inter',Verdana, Geneva, Tahoma, sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;

}
.banner-button{
    margin-top: 40px;
    margin-left: 157px;
    color: #FFF;
    text-align: center;
    font-family: 'inter',Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: none;
    text-transform: uppercase;

}
.banner-right{
    padding-top: 68px;
   
    margin-left: 120px;
}
/* place-style */
.place-name{
    width: 1320px;
    margin-top: 220px;
    height: 482px;

    background: linear-gradient(rgba(255,0,0,0.10));
    border-radius: 15px;
}
.place-name{
    color: #070211;
    font-family: 'inter',sans-serif;
    font-size: 32px;
    text-align: center;
    padding-top: 100px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
span{
    color: rgb(212, 49, 49);
}
.place-name > button{
    width: 120px;
    height: 40px;
    margin-left: 600px;
    margin-top: 48px;
    border-radius: 8px;
    background-color: #F00;
    border: o;
}
.place-buttom > a{
    color: #FFF;
    text-align: center;
    font-family: 'inter',Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

/* comming-style */

.comming-soon{
    width: 1320px;
    margin-top: 220px;
    height: 482px;
    display: flex;
    border-radius: 15px;
}
.comming-soon > div{
    width: 33%;
    
}
.title{
    color: #F00;
    padding-top: 110px;
    font-family: 'inter',sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.container{
    padding-top: 10px;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.text{
    padding-top: 20px;
    color: rgba(7,2,17,0.60);
    font-family: 'inter',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.images{
    width: 394.844px;
    height: 369.844px;
    padding-left: 20px;
    padding-top: 15px;

}
.title-right{
    padding-top: 110px;
    padding-left: 50px;
    color: #F00;
    font-family: 'inter',sans-serif;
    font-size: 48px;
    font-weight: 700;
}
.title-text{
    color:rgba(7,2,17,0.60); 
    font-family: 'inter',sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 400;
    line-height: 32px;
}
.title-image{
    padding-top: 20px;
    padding-left: 50px;
    width: 140px;
    height: 140px;

}

/* holiday style */

.holiday{
    width: 1320px;
    margin-top: 120px;
    text-align: center;
    height: auto;
    border-radius: 15px;
}

.title{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.container{
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}

.container span{
    color: #F00;
    padding-top: 5px;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.text{
    color: rgba(7, 2, 17, 0.60);
    padding-top: 15px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}


/* four image style */
.images-all{
    width: 1320px;
    height: 650px;
    display: flex;
    background-image:url('../resources/Rectangle\ 2.png') ;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 60px;
    border-radius: 15px;
}

.imgno-1{
    width: 600px;
    height: auto;
    margin-left: 100px;
}

.imgno-2{
    width: 400px;
    height: 400px;
    margin-top: 21px;
    margin-left: 220px;
    background-image: url('../resources/Rectangle\ 1.png');
    background-size: cover;
}

.imgno-3{
    width: 206.841px;
    height: 206.841px;
    margin-left: -100px;
    padding-top: 100px;
}
/*The best Gift Style*/

.gift-title{
    color: #F00;
    padding-top: 120px;
    padding-bottom: 0px;
    font-size: 34px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
}

.gift-container{
    color: #070211;
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
}

.gift-text{
    color: rgba(7, 2, 17, 0.60);
    padding-top: 15px;
    padding-bottom: 0px;
    font-family: 'Inter',sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 40px;
}
/* Image Shop Style */

.image-shop-all{
    width: 1320px;
    height: 920px;
    margin-top:20px;
    border-radius: 10px;
}

.1st-image-shop{
    width: 100%;
    height: 50%;
    display: flex;
}

.1st-image-shop img{
    width: 500px;
    height: 440px;
    padding: 10px 16px 8px 15px;
}

.1st-image-shop img:hover{
    box-shadow:inset 0px 0px 15px gray,
    0px 0px 15px gray;
    border-radius: 10px;
}

.2nd-image-shop{
    width: 100%;
    height: 50%;
    display: flex;
}

.2nd-image-shop img{
    width: 500px;
    height: 440px;
    padding: 10px 16px 8px 15px;
}

.2nd-image-shop img:hover{
    box-shadow:inset 0px 0px 15px gray,
    0px 0px 15px gray;
    border-radius: 10px;
}
/* mail style */



.mail-section{
    margin-top: 120px;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}


.mail-section img{
    width: 150px;
    height: 150px;
    padding-top: 80px;
    padding-left: 580px;
}

.mail-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding-top: 40px;
    padding-left: 400px;
    text-transform: capitalize;
}

.mail-text{
    color: rgba(7, 2, 17, 0.60);
    padding-top: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

#email {
    width: 448px;
    height: 72px;
    margin-top: 30px;
    border: none;
    margin-left: 360px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    padding-left: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}  

.email-btn{
    width: 200px;
    height: 72px;
    background: #F00;
    border-radius: 0px 50px 50px 0px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: -5px;
    border: none;
    text-transform: capitalize;
}

.email-btn:hover{
    color: red;
    background-color: black;
}
/* Footer Style */

footer{
    width: 110%;
    height: 800px;
    margin-top: 100px;
    margin-left: 20px;
    background: #070211;
}

.text{
    width: 400px;
    height: auto;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    padding-top:120px ;
    padding-left:140px ;
    font-weight: 500;
    line-height: 40px;
}

.number{
    width: 400px;
    height: auto;
    margin-top: -75px;
    padding-left: 20px;
    margin-left: 1125px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.number img{
    padding-right: 10px;
    padding-bottom: -10px;
    width: 24px;
    height: 24px;
}

.email{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    width: 400px;
    margin-top: -5px;
    height: auto;
    padding-left: 30px;
    margin-left: 1120px;
}

.email img{
    padding-right: 10px;
    padding-bottom: -10px;
    width: 24px;
    height: 24px;
}


.footer-div{
    margin-top: 50px;
    margin-left: 150px;
    justify-content: center;
    display: flex;
    width: 1230px;
    height: 160px;
    border-top: 1px solid rgba(255, 255, 255, 0.15); ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
}

.footer-div img{
    padding-top: 45px;
    padding-left: 30px;
    width: 64px;
    height: 64px;
}

.address{
    width: 400px;
    height: auto;
    padding-top: 60px;
    padding-left:140px ;
    color: #FFF;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.last{
    width: 600px;
    height: auto;
    margin-left:1170px ;
    margin-top: -40px;
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}


